html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.article {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 1.6;
    background-color: rgb(197, 192, 192);
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    overflow-x: auto;
    text-align: center;
}

.article__paragraph {
    text-align: left;
}

.list {
    list-style-type: none;
}

.list__links {
    text-decoration: none;
}

.table {
    margin: auto;
    font-size: "Arial" sans-serif;
    font-size: small;
    border-collapse: collapse;

}

.table__tablleCell {
    border: 1px solid black;
    padding: 20px;
}